{% extends "base.html" %}
{% block title %}Edit Your Account Info{% endblock %}
{% block content %}
<div style="margin-top: 15%;margin-left: 30%">

<h1>Edit your account</h1>
    <div>

                            {% if messages %}
                            <ul >
                                {% for message in messages  %}
                                <li>
                                 {{ message|safe }}
                                </li>
                                {% endfor %}
                            {%endif %}

                            </ul>
                    </div>
    <p>You can edit your account using the following form:</p>
    <form action="." method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Save changes"></p>
    </form>
 <p>  <a style="color: gold" href="{%url "account:home"%}"> back </a></p>
</div>
{% endblock %}


