<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The list of Authors</title>
</head>
<body>
    {%  for aa in authors %}{#    <p> Book Title: <a href="{% url "book_detail" book.id %}"> {{ book.name }} </a> </p>#}

        <p>
            Name: <a href="{{aa.get_absolute_url}}">  {{ aa.name }}
                   </a>
        </p>
        <p> Age:{{ aa.age }}</p>
        <p> Nation:{{ aa.nation }}</p>
        <a href="mailto:{{ aa.email }}?subject=hello&body=test">Email:{{ aa.email }}</a>
     <hr>
    {% endfor %}
    {% include "pagination.html" with page=page_obj %}
</body>
</html>