{% extends "base.html" %}
{% block title %} Book Detail Infomation {% endblock %}
{% block content %}
    <div style="width: 80%;margin-left: auto;margin-top: 100px">
    <h1 style="font-family: 'Pacifico', cursive"> <strong> Name: {{ book.name }}</strong></h1>

  <ul>
      <li > Authors: {% for author in book.authors.all %}  <a style="color: greenyellow" href="{{author.get_absolute_url }}">{{author.name}} </a>&nbsp&nbsp&nbsp&nbsp{% endfor%} </li>
      <li> Price: {{ book.price }}</li>
      <li> Page: {{ book.pages }}</li>
      <li> Publish Date: {{ book.pubdate }}</li>
      <li> Readers' Rating: {{ book.rating }}</li>
      <li> Where to Buy: {% for store in book.store.all %}  {{store.name}}&nbsp {% endfor%} </li>
  </ul>
<a class="btn btn-lg btn-primary" role="button" style="color: red" href="{% url "book_list" %}">  Back to Book List </a>
    </div>
{% endblock %}