<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book </title>
</head>
<body>

<h4 style="color: #46b8da"><strong>The Book List</strong></h4>

   {% for book in books %}
{#    <p> Book Title: <a href="{% url "book_detail" book.id %}"> {{ book.name }} </a> </p>#}
    <p> Book Title: <a href="{{ book.get_absolute_url }}" > {{ book.name }} </a> </p>
    <p> Book Price: ${{ book.price }}</p>
    <p> Book Page: {{ book.pages }}</p>
    <p> Book Publish Date: {{ book.pubdate }}</p>

    <p> Book Author: {% for a in book.authors.all %}
             {{ a.name }},
                {% endfor %}
    </p>
   <hr>
   {% endfor %}
{% include "pagination.html" with page=books %}

</body>
</html>