{% extends "base_a.html" %}
{% block title %} Author List{% endblock %}
{% block content %}

<div style="text-align: center;color: #5bc0de;font-family:Pacifico">
  <h1 style="font-family:'Pacifico', cursive">   Author List  </h1>
</div>

<table class="table table-striped table-bordered table-hover table-condensed" style="width: 1500px;margin: auto">
        <thead>
          <tr class="info">
            <th> ID </th>
            <th>Name</th>
            <th>Age</th>
            <th>Nation</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>

         {%  for aa in authors %}
       <tr class="success">
              <td class="warning"> {{ aa.pk }} </td>
              <td class="active"><a href="{{aa.get_absolute_url}}">   {{ aa.name }} </a> </td>
              <td class="danger"> {{ aa.age }} </td>
              <td class="warning"> {{ aa.nation }} </td>
              <td> <a href="mailto:{{ aa.email }}?subject=hello &body=kkkxxx%0d%0ayyy">{{ aa.email }}</a>  </td>
       </tr>

       {% endfor %}

        </tbody>
      </table> </br>

{#<img src="/media/users/2018/06/19/2.JPG" alt="..." class="img-rounded">#}
<img src="/media/users/2018/06/19/2.JPG" alt="..." class="img-circle" style="width:200px;height: 180px;">

    <br>

        <form  style="width: 20%;margin-left: 200px" action="" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input class="btn btn-default btn-primary" role="button" type="submit" value="Start Search">
        </form>

{% endblock %}

