{% extends "base_a.html" %}
{% block title %} Publisher List{% endblock %}
{% block content %}

<div style="text-align: center;color: #5bc0de;font-family:Pacifico">
  <h1 style="font-family:'Pacifico', cursive">    List of Publisher </h1>
</div>

<table class="table table-striped table-bordered table-hover table-condensed" style="width: 1500px;margin: auto">
        <thead>
          <tr class="info">
            <th>ID </th>
            <th>Name</th>
                   </tr>
        </thead>
        <tbody>

         {%  for aa in publishers %}
       <tr class="success">
              <td class="warning"> {{ aa.pk }} </td>
              <td class="active">  {{ aa.name }} </a> </td>
       </tr>

       {% endfor %}

        </tbody>
      </table> </br>

            {% include "pagination.html" with page=page_obj %}
{% endblock %}

