{% extends "base_a.html" %}
{% load ratings %}
{% load bootstrap3 %}
{% block title %} Books ArchiveIndex {% endblock %}
{% block content %}

     <h1 style="margin-left: 30%;color: #b92c28;font-family: 'Apple Chancery'">All Books Archived By Published Date</h1>
    {% for obj in latest %}
        <p>
            <a href="{{ obj.get_absolute_url }}" style="margin-left: 25%;color: yellow;font-family: 'Microsoft PhagsPa'"><strong style="color: gold" >{{ obj.name }}</strong> --publish date: {{ obj.pubdate|date:"F j, Y" }} </a>
        </p>
    {% endfor %}


{% endblock %}