{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Reset Password Confirmation{% endblock %}
{% block content %}
<div style="margin-top: 25%;margin-left: 30%">
<h1>Reset your password</h1>
    {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form style="width: 30%" role="form" class="form-horizontal" action="." method="post">
{#            {{ form.as_p }}#}
            {% csrf_token %}
{#            <p><input type="submit" value="Change my password" /></p>#}
        {% bootstrap_form form layout="horizontal" %}
        {% buttons submit='Submit' reset='Cancel' layout='horizontal' %}{% endbuttons %}
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
</div>
{% endblock %}

