{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Reset the password{% endblock %}
{% block content %}
<div style="margin-top: 15%;margin-left: 30%">

    <h1>Change you password</h1>
    <p>Use the form below to change your password.</p>
    <form style="width: 30%" role="form" class="form-horizontal" action="." method="post">
{#        {{ form.as_p }}#}
         {% bootstrap_form form layout="horizontal" %}
         {% buttons submit='Submit' reset='Cancel' layout='horizontal' %}{% endbuttons %}

{#        <p><input class="btn badge-primary" role="button" type="submit" value="Done"></p>#}
        {% csrf_token %}
    </form>

</div>
{% endblock %}