{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Reset the password{% endblock %}
{% block content %}
<div style="margin-top: 25%;margin-left: 30%">

    <h1>Forgotten your password?</h1>
    <p>Enter your e-mail address to obtain a new password.</p>
    <form style="width: 30%" role="form" class="form-horizontal" action="." method="post">
{#        {{ form.as_p }}#}
{#        <p><input class="btn-danger btn" role="button" type="submit" value="Send e-mail"></p>#}
        {% bootstrap_form form layout="horizontal" %}
        {% buttons submit='Submit' reset='Cancel' layout='horizontal' %}{% endbuttons %}
        {% csrf_token %}
    </form>

</div>
{% endblock %}
